.package {
  margin: 120px 0 141px 0 ;
  &__title {
  color: $color-secondary;
  font-family: $font-family-primary;
  font-size: 50px;
  font-weight: 600;
  text-align: left;
  margin-top: 5px;
  }
  &__wrap {
    display: grid;
    grid-template-columns: repeat( 3, 360px );
    justify-content: space-between;
    margin-top: 87px;
    text-align: center;
   
  }
  &__inner {
    box-sizing: border-box;
    border: 1px solid $color-secondary;
    border-radius: 20px;  
    max-width: 360px;
    padding: 13px 0 ; 
    color: $color-secondary;
    font-family: $font-family-primary; 
    &:hover {
      background: $background-color-secondary;
      border: 1px solid $color-secondary;    
      transform: scale(1, 1.1); 
      transition: all 0.5s ease-out;
      color:$color-tertiary;
  }
  } 
  &__subtitle {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 26px;
  }
  &__price {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-top: 66px;
  }
  &__text {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 24px 0 0 0 ;
  }

}
.btn {
    &__red--moved-bottom {
    margin-top: 61px;
    padding: 24px 78px;
  
  }
}

/*&:hover {
  background: $background-color-secondary;
  border: 1px solid $color-secondary;    
  transform: scale(1.05);
  color:$color-tertiary;
}*/
