//colors
$color-primary: #d52027;
$color-secondary: #141024;
$color-tertiary: #fff;



//text
$font-family-primary: Jost, sans-serif ;
$text-color-primary: $color-primary;
$text-color-secondary: $color-secondary;
$text-color-tertiary: $color-tertiary;

//background
$background-color-primary: $color-primary;
$background-color-secondary: $color-secondary;